<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MailSendLibrary.Properties.Settings.SpamBaseConnectionString"
            connectionString="Data Source=(localdb)\MSSQLlocaldb;Initial Catalog=SpamBase;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="MailSendLibrary.Properties.Settings.SpamBaseConnectionString1"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=SpamBase;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>